<ion-header>
  <ion-navbar>
    <ion-title>Vote</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createContract()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to VoterChain!</h2>
  <p>
    To start this app, press the <b>+</b> button on the top right to create a contract
    with a list of candidates.
  </p>

  <h2>Vote</h2>

  <p>
    Input Contract Address below or create one
  </p>
  <ion-input placeholder="0xdca34....." [(ngModel)]="contractAddress" type="text"></ion-input>
  <button ion-button full (click)="setContractData()" *ngIf="!haveContract">Set</button>
  <ion-list *ngIf="haveContract">
    <!-- <ion-item *ngFor="let candidate of candidates" (click)=></ion-item> -->
    
    <ion-item>
      Contract Address: {{ contractAddress }}
    </ion-item>
    <ion-item>
      <ion-label>Number of candidates</ion-label>
      <ion-input [(ngModel)]="numOfCandidates"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Number of voters</ion-label>
      <ion-input [(ngModel)]="numOfVoters"></ion-input>
    </ion-item>

    <h2>I will vote for...</h2>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
